body {
    background-color: #333;
    font-family: 'Roboto', sans-serif;
    background-image: url(images/sushi_background.png);
    background-repeat: no-repeat;
    background-size: 100% auto;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;

}

.navigationbar {
    width: 100%;
    display: flex;
    align-items: center;
    background-color: #444;
}

.twittericon {
    color: white;
    text-decoration: none;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    border-radius: 2px;
}

.floatleft {
    float: left;
}

.floatright {
    float: right;
}

.logo {
    color: white;
    font-size: 20px;
    font-family: 'Raleway', sans-serif;
    float: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

strong {
    font-weight: bold;
}

.twl {
    padding-top: 25%;
    padding-left: 30%;
    padding-right: 30%;

}

.twlpart2 {
    text-align: center;
    padding-right: 3%;
}

.downarrow {
    font-size: 400%;
    position: absolute;
    padding-top: 15%;
    color:white;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: darkred;
}

.active {
    background-color: indianred;
}

.container {
    position: absolute;
    top: 47px;
    left: 0;
    right: 0;
    text-align: center;
    color: white;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.welcome {
    font-size: 40px;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    padding-top: 250px;
    color: white;
}

.underwelcome {
    font-size: 30px;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    padding-top: 80px;
    color: white;
}